// .table-container {
//   overflow: auto;
//   max-width: 100%;
//   padding: 10rem;
//   padding-bottom: 1rem;
// }

table {
  width: 100%;
}

.mat-mdc-row:hover {
  cursor: pointer;
  background-color: #bbccb528;
}
